/*
!/mods/
!/resourcepacks/
!/shaderpacks/
!.git
!.gitattributes
!.gitignore
!/script/
/shaderpacks/ComplementaryReimagined_r5.6.1 + EuphoriaPatches_1.7.3.txt
/mods/notenoughanimations-forge-1.10.6-mc1.20.1.jar
/mods/firstperson-forge-2.5.0-mc1.20.1.jar
